.btn-primary {
    background-color: #2962FF !important;
    color: white !important;
    outline: none !important;
}

.gradient-div {
    transition: all 0.5s ease-in-out;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* .gradient-div:hover {
    height: 150px;
} */

.selection-btn {
    background: rgba(148,187,233,1) !important;
}

button:focus {
    outline: none !important;
}

.btn-checked {
    background-color: #43A047 !important;
    color: white !important;
}

.charts-container {
    height: auto;
    min-height: 20vh
    /* border: 1px solid black; */
}

.dialogNoPadding {
    padding: 0 24px;
}

.btn-add {
    background-color:#008dc9 !important;
}


.charts-text {
    font-size: 20px;
    /* font-weight: bold; */
}

.clear-link {
    color: white;
    font-weight: bold;
}

.clear-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.MuiOutlinedInput-notchedOutline {
    border-color: white !important
}

.MuiCircularProgress-root, .MuiFormLabel-root {
    color: white !important;
}

.MuiAutocomplete-clearIndicator {
    color: white !important;
}

.app-name-backdrop {
    position: absolute;
    border-radius: 10px;
    bottom: 15px !important;
}

.app-name-backdrop p {
    display: inline-block;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    background-color: rgba(0,141,201,0.8);
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}

.opaque {
    opacity: 1;
    background-color: transparent;
    color: white;
    font-family:Arial, sans-serif;
}

input {
    color: white !important;
}