.btn-primary {
    background-color: #2962FF !important;
    color: white !important;
    outline: none !important;
}

.gradient-div {
    /* background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url();
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* .gradient-div:hover {
    height: 150px;
} */

.selection-btn {
    background: rgba(148,187,233,1) !important;
}

button:focus {
    outline: none !important;
}

.btn-checked {
    background-color: #43A047 !important;
    color: white !important;
}

.charts-container {
    height: auto;
    min-height: 20vh
    /* border: 1px solid black; */
}

.dialogNoPadding {
    padding: 0 24px;
}

.btn-add {
    background-color:#008dc9 !important;
}


.charts-text {
    font-size: 20px;
    /* font-weight: bold; */
}

.clear-link {
    color: white;
    font-weight: bold;
}

.clear-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.MuiOutlinedInput-notchedOutline {
    border-color: white !important
}

.MuiCircularProgress-root, .MuiFormLabel-root {
    color: white !important;
}