.header-logo {
  /* background-color: red; */
  padding: 30px 30px;
  min-height: 128px;
}

.logo-link {
  max-width: 240px;
  height: 60px;
}

.header-container {
    background-color: #008dc9;
    height: 47px;
    position: sticky;
  }
  
.data-portal {
  color: #008dc9;
  font-style:Arial,Helvetica,sans-serif;
  font-size: 30px;
  line-height: 2.08;
  margin:0;
}

.nav-links {
    color: white !important;
    padding: 5px 30px 5px 20px !important;
    font-size: 18px;
    line-height: 2.08;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    min-width:180px !important;
}

.home-icon {
    color:white;
    font-size: 40px;
    vertical-align: sub;
}

.arrow-link {
    width: 15px
}

.container-fluid{padding-left: 30px; padding-right: 30px;}

.top-head { background: #f4f4f4; }
.top-menu { padding: 0; margin: 0; }
.top-menu li { display: inline-block; margin-right: 25px; padding: 15px 0 15px;  }
.top-menu li a { font-weight: bold; color: #008dc9; text-decoration: none; display: block; }
.top-menu li a:hover, .search-top:hover, .top-menu li a.active { color: #d86422; }
.top-menu .dropdown-menu { width: 100%; } 
.search-top { font-size: 30px; padding-top: 15px; margin-right: 20px; }



.menu-large { position: static !important;}

.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus { color: #999999;}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus { text-decoration: none; background-color: transparent; background-image: none;  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);  cursor: not-allowed; }
.megamenu.dropdown-header { color: #428bca; font-size: 18px; }

.megamenu-li {
	position: static;
}

/*.megamenu-li:hover {
	background-color: #d86422;
}*/

.megamenu {
	position: absolute !important;
	width: 100vw !important;
	left: 0px !important;
	right: 0 !important;
	padding: 15px !important;
  background: #20313b !important;
  top: 45px !important;
  border: none !important;
  border-radius: 0px !important;
}

.megamenu > div > li > ul { 
  padding: 20px !important;
  margin: 0 !important;
}
.megamenu > div > li > ul > li { 
  list-style: none !important;
}
.megamenu > div > li > ul > li > a { 
  display: block !important; 
  padding: 3px 20px !important;
  clear: both !important;
  font-weight: normal !important;
  line-height: 1.428571429 !important;
  color: #fff !important;
  white-space: normal !important; }

/*.megamenu > div > li > ul > li > a:hover,
.megamenu > div > li > ul > li > a:focus { text-decoration: none; color: #262626; background-color: #d86422; }*/

.megamenu > div > li > ul > li.dropdown-header a{ 
  font-size: 18px; 
  font-weight: bold; 
  color: #fff; 
  margin-bottom: 10px; 
  padding: 5px;
}

.megamenu > div > li > ul > li.dropdown-header ul li a{ 
  padding: 5px;
}

.dropdown-toggle::after {
    display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    margin-left: .255em !important;
    vertical-align:0 !important;
    font-family: 'FontAwesome' !important;
    content: '\f107' !important;
    border-top:0 !important;
    /*border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;*/
}

.navbar {
    background: #428bca!important;
    padding: 0px 50px !important;
}


.navbar-nav .nav-link { 
  color: #fff!important; 
  font-size: 18px!important; 
  margin-bottom: 0!important; 
  font-weight: bold!important;
}
.navbar-nav .nav-link:hover { 
  background: #d86422!important; 
}
.navbar-nav .nav-link.home-link i{ 
  font-size: 25px!important;
}


.show { 
  background: #20313b!important;
}

.navbar-nav .dropdown-menu{
   padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.navbar-nav .dropdown-menu div{
    padding: 20px!important;
    border-right: solid 1px #1a272f;
}

.menu-links{
    border-right: none!important;
   padding: 0px!important;
}

.menu-links h3{
    font-size: 18px!important;
    font-weight: bold!important;
}

.menu-links h4{
    font-size: 18px!important;
}

.nav-link{ 
  padding: 10px 25px!important;
}

.menu-links a{
  color: #fff!important;
  padding: 5px 5px!important; 
  display: block!important;
}

.menu-links a:hover{
    text-decoration: none!important; 
    color: #fff!important;
    background-color: #d86422!important;
}

.menu-links span a{ 
  display: inline-block!important;
  font-weight: bold!important;
  padding: 8px!important;
}

.menu-links ul {
  padding: 0px!important;  
  margin: 0px!important; 
}
.menu-links ul li{
  list-style: none!important;
}
.menu-links ul li span{
  color: #b2b2b2!important;
  font-size: 14px!important;
  padding: 8px!important;
}

.bdr-0{
  border-right: none!important;
}

/* .list2 {
  left: -303px !important;
}

.list3 {
  left: -450px !important;
}

.list4 {
  left: -564px !important;
}

.list5 {
  left: -741px !important;
} */

/* Style the list */
.breadcrumb {
  padding: 15px 25px !important;
  list-style: none !important;
  background-color: #fff !important;
  margin: 0 !important;
}

/* Display list items side by side */
ul.breadcrumb li {
display: inline;
font-size: 16px;
  font-weight: bold;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
padding: 8px;
color: black;
content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
color: #0275d8;
text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
color: #01447e;
text-decoration: none;
}