.header-logo {
  /* background-color: red; */
  padding: 30px 30px;
  min-height: 128px;
}

.logo-link {
  max-width: 240px;
  height: 60px;
}

.header-container {
    background-color: #008dc9;
    height: 47px;
    position: sticky;
  }
  
.data-portal {
  color: #008dc9;
  font-style:Arial,Helvetica,sans-serif;
  font-size: 30px;
  line-height: 2.08;
  margin:0;
}

.nav-links {
    color: white !important;
    padding: 5px 30px 5px 20px !important;
    font-size: 18px;
    line-height: 2.08;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    min-width:180px !important;
}

.home-icon {
    color:white;
    font-size: 40px;
    vertical-align: sub;
}

.home-link {
    width: 36px;
}

.arrow-link {
    width: 15px
}