section{
    margin: 50px 0 35px;
}


.chart-area{
    display: block;
    width: 100%;
    min-height: 325px;
    border-radius: 4px;
    background-color: #fff;
    float: left;
    box-shadow: 5px 5px 20px 0 rgba(218,218,218,0.5);
    text-align: center;
    padding: 10px;
}

.table-fn-xs {
    width: 96% !important;
}

.tr-head {
    vertical-align: inherit !important;
    font-weight: bold;
    max-width: 200px !important;
}

.expand-icon {
    display: none;
    cursor: pointer;
}

#container-chart1:hover #expand-chart1 {
    display: inline-flex;
}

#container-chart2:hover #expand-chart2 {
    display: inline-flex;
}

#container-chart3:hover #expand-chart3 {
    display: inline-flex;
}

#container-chart4:hover #expand-chart4 {
    display: inline-flex;
}

#container-chart5:hover #expand-chart5 {
    display: inline-flex;
}

#container-chart6:hover #expand-chart6 {
    display: inline-flex;
}

#container-chart7:hover #expand-chart7 {
    display: inline-flex;
}

#container-chart8:hover #expand-chart8 {
    display: inline-flex;
}

#container-chart9:hover #expand-chart9 {
    display: inline-flex;
}